/*
test

Have fun

markup:
<h1>Have fun</h1>

Styleguide 1.1
*/

:root {
	--element-markup-bg: hsl(0, 0%, 96.5%);
}

.pl {
	&-element {
		margin: 2rem auto;
		max-width: 768px;

		&__markup {
			background-color: var(--element-markup-bg);
			margin: 1rem 0;
			padding: 1rem;
			position: relative;
		}
	}
}

.visuallyhidden {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}
