/*
*/

.element {
	margin: 2rem auto;
	max-width: 768px;

	&__markup {
		position: relative;
	}
}

.visuallyhidden {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}
